* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  background-color: hsl(30, 38%, 92%);
}
main {
  display: flex;
  justify-content: center;
  width: 60vw;
  height: 60vh;
}
.container {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  background-color: red;
}
